---
import Input from "@components/shared/forms/Input.astro";
import axios from "axios";
const data = await axios
    .get(`${import.meta.env.PUBLIC_API_URL}tenant`)
    .then((response) => (response.data))
    .catch((error) => console.log(console.log(error)));
const publicEndpoint = `${import.meta.env.PUBLIC_API_URL}`;
let { status } = Astro.props;

---

<div
    class="bg-gray justify-center items-center rounded-lg shadow-lg p-12 w-full max-w-sm">
    <div
        x-data=`{tenants: ${JSON.stringify(data)}, imgTenant: '', primaryColor: '', secondaryColor: '', status: ${status}, endpoint: '${import.meta.env.PUBLIC_API_URL}tenant/'}`>
                <img
                :src="imgTenant"
                class="scale-50 mx-auto"
                transition:persist="slide"/>
            <h2
                class="mt-3 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                Ingresa con tu cuenta
            </h2>
        <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" method="post">
                <div>
                    <div class="col-span-2">
                        <label
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >Universidad</label
                        >
                        <div class="mt-2">
                            <select
                                required
                                name="tenant"
                                id="tenant"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-950 sm:text-sm sm:leading-6"
                                x-on:change=`valueTenant=tenant.value
                                    getTenantById = await fetch(endpoint+valueTenant)
                                    .then((response) => response.json())
                                    .then((data) => data)
                                    .catch((error) => console.log(error))
                                    imgTenant="${publicEndpoint}"+getTenantById.image
                                    primaryColor=getTenantById.primary_color
                                    secondaryColor=getTenantById.secondary_color`>
                                <option selected disabled value="select"
                                    >Seleccione una opcion</option
                                >
                                <template x-for="tenant in tenants">
                                    <option
                                        :value="tenant.id"
                                        x-text="tenant.name"></option>
                                </template>
                            </select>
                        </div>
                    </div>
                </div>
                <Input
                    attributes={{
                        id: "email",
                        label: "Correo",
                        name: "email",
                        type: "text",
                        required: "",
                    }}
                />
                <Input
                    attributes={{
                        id: "password",
                        label: "Contraseña",
                        name: "password",
                        type: "password",
                        required: "",
                    }}
                />
                <button
                    type="submit"
                    id="button"
                    :style="{backgroundColor: secondaryColor}"
                    class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                    >Entrar
                </button>
            </form>
            <div x-show="status" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded flex flex-col my-2" role="alert">
                <strong class="font-bold">Error</strong>
                <span class="block sm:inline">Vuelve a intentarlo o contacta a soporte.</span>
            </div>
    </div>
</div>